
<footer class="footer">
<div class="footer__container container grid">
    <ul class="footer__links">
        <li>
            <a href="#about" class="footer__link">
                About
            </a>
        </li>


        <li>

            <a href="#services" class="footer__link">
                Services
            </a>
        </li>

        <li>

            <a href="projects" class="footer__link">
                Projects
            </a>

        </li>
      
    </ul>
    
</div>

</footer>

<a href="#" class="scrollup" id="scrollup">
    <i class="ri-arrow-up-s-line"></i>
</a>

<script src="/styles/js/controller.js"></script>
</body>
</html>