<section class="about section" id="about">

    <div class="about__container  container grid" >
        <h2 class="section__title-1">
            <span>About Me.</span>
        </h2>
        <div class="about__perfil">
            <div class="about__image">
                <img src="/styles/images/luffy.jpg" alt="" class="about__img">

                <div class="about__shadow"></div>

                <div class="geometric-box"></div>
                <img src="/styles/images/random-lines.svg" alt="" class="about__line">
                <div class="about__box"></div>



            </div>

        </div>


        <div class="about__info">
            <p class="about__description">
                Lorem ipsum, dolor sit <b>amet consectetur adipisicing</b> elit. Possimus, voluptatibus? Doloribus deserunt reprehenderit, ullam commodi <b>consequuntur quod</b> optio minima quam odio, ea debitis! Tempora, itaque.
            </p>

            <ul class="about__list">
                <li class="about__item">
                    <b>My Skills Are:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, laudantium. Corrupti commodi consequatur vel omnis.

                </li>
                
            </ul>

            <div class="about__buttons">

                <a href="mailto:qq-21@outlook.com" class="button"> <i class="ri-send-plane-line"></i> Contact Me</a>
                <a href="mailto:qq-21@outlook.com" class="button__ghost"><i class="ri-mail-add-line"></i></a>
            </div>
        </div>



    </div>




</section>