<section class="projects section" id="projects">

    <h2 class="section__title-1">
        <span>Projects.</span>
    </h2>
    <div class="projects__container container grid">
       


    
  <article class="projects__card">
    <div class="projects__image">
        <img src="styles/images/project-1.jpg" alt="image" class="projects__img">
        <a href="/Lisper" target="_blank"  class="projects__button button" ><i class="ri-arrow-right-up-line"></i></a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Web App</h3>
        <h2 class="projects__title">Lisper</h2>
        <p class="projects__description">Discover secrets around you.</p>
    </div>

    <div class="projects__buttons">
        <a href="/Lisper" target="_blank"  class="projects__link">

            <i class="ri-github-line"></i>View
        </a>
    </div>
</article>
<article class="projects__card">
    <div class="projects__image">
        <img src="styles/images/project-2.jpg" alt="image" class="projects__img">
        <a href="/ExpenseTracker" target="_blank" class="projects__button button" ><i class="ri-arrow-right-up-line"></i></a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Desktop App</h3>
        <h2 class="projects__title">ExpenseTracker</h2>
        <p class="projects__description">Manage your customers efficiently!</p>
    </div>

    <div class="projects__buttons">
        <a href="/ExpenseTracker" target="_blank" class="projects__link">

            <i class="ri-github-line"></i>View
        </a>
    </div>
</article>
<article class="projects__card">
    <div class="projects__image">
        <img src="styles/images/project-3.jpg" alt="image" class="projects__img">
        <a href="/TheNodeBlog" target="_blank"  class="projects__button button" ><i class="ri-arrow-right-up-line"></i></a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Web App</h3>
        <h2 class="projects__title">The Node Blog</h2>
        <p class="projects__description">Share the latest news and discover more.</p>
    </div>

    <div class="projects__buttons">
        <a href="/TheNodeBlog" target="_blank" class="projects__link">

            <i class="ri-github-line"></i>View
        </a>
    </div>
</article>

<article class="projects__card">
    <div class="projects__image">
        <img src="styles/images/project-4.jpg" alt="image" class="projects__img">
        <a href="/ToDoList" target="_blank"  class="projects__button button" ><i class="ri-arrow-right-up-line"></i></a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Web App</h3>
        <h2 class="projects__title">Time management</h2>
        <p class="projects__description">List your daily activites and track progress. </p>
    </div>

    <div class="projects__buttons">
        <a href="/ToDoList" target="_blank" class="projects__link">

            <i class="ri-github-line"></i>View
        </a>
    </div>
</article>
<article class="projects__card">
    <div class="projects__image">
        <img src="styles/images/project-5.webp" alt="image" class="projects__img">
        <a href="/FlexGrid" target="_blank"  class="projects__button button" ><i class="ri-arrow-right-up-line"></i></a>
    </div>
    <div class="projects__content">
        <h3 class="projects__subtitle">Web App</h3>
        <h2 class="projects__title">Loruki</h2>
        <p class="projects__description"> Responsive and animated website design. </p>
    </div>

    <div class="projects__buttons">
        <a href="/FlexGrid" target="_blank" class="projects__link">

            <i class="ri-github-line"></i>View
        </a>
    </div>
</article>


    </div>
    

</section>



