<section class="services section">
    <h2 class="section__title-3"><span>Services</h2>

    <div class="services__container container grid">
        <article class="services__card">
            <div class="services__border"></div>

            <div class="services__content">
                <div class="services__icon">
                    <div class="servies__box"></div>
                    <i class="ri-code-box-line"></i>


                </div>


                <h2 class="services__title">Development</h2>

                <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sequi vero corrupti recusandae provident! Quam.</p>
            </div>
        </article>

        <article class="services__card">
            <div class="services__border"></div>

            <div class="services__content">
                <div class="services__icon">
                    <div class="servies__box"></div>
                    <i class="ri-computer-line"></i>
                </div>


                <h2 class="services__title">Desktop App</h2>

                <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sequi vero corrupti recusandae provident! Quam.</p>
            </div>
        </article>
    </div>




</section>